<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838384085640-2vs8l95ja45nlpiulv0duc9piun1j11j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838384085640-2vs8l95ja45nlpiulv0duc9piun1j11j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838384085640-icl3hi7f011j72kmtq38sklege293aep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVKvhS4WDjZBKWQwdSeWKwvnNawUwvzjw</string>
	<key>GCM_SENDER_ID</key>
	<string>838384085640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odyssey.lappka</string>
	<key>PROJECT_ID</key>
	<string>odyssey-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>odyssey-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838384085640:ios:c024b8f5b20636b2d1cd3d</string>
</dict>
</plist>